<%- include("header") -%>
<div class="contentAbout">
  <h1>About Recipe Finder</h1>
  <p>
    This is a project developed by us to help people find the most tasty and
    nutricious recipes, based on the ingredients they have!
  </p>
  <p>No logins or sign ups required!</p>
  <p>
    Recipe Finder provides a simple and good user interface to navigate and find
    recipes.
  </p>
  <p>
    Simply type out your ingredients in the inputs at the top, one ingredient in
    each box. After you are done, hit 'Submit'. Click on the 'View' button if
    you want to see the instructions for a recipe. Click on 'Next' and
    'Previous' buttons to view other pages.
  </p>
</div>
<%- include("footer") -%>
