<%- include("header") -%>
    <!-- <div style="max-width: 800px; margin: 0 auto; padding: 40px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style=" padding: 40px; border-radius: 8px; color: #fff; text-align: center;">
            <h1 style="font-size: 48px; margin-bottom: 20px; color: wheat;">Welcome to Recipe Finder</h1>
            <p style="font-size: 30px; margin-bottom: 30px; color: rgb(248, 248, 11); font-weight: 1000;">Discover and create delicious recipes with ease!</p>
        </div> 
    </div> -->
    <div style="max-width: 800px; margin-left: 0; padding: 40px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style="padding: 40px; border-radius: 8px; color: #fff; margin-left: 0;">
            <h1 style="font-size: 55px; margin-bottom: 20px; color: wheat;">Welcome to Recipe Finder</h1>
            <p style="font-size: 35px; margin-bottom: 30px; color: wheat; font-weight: 1000;">Discover and create delicious recipes with ease!</p>
        </div>
    </div>
<%- include("footer") -%>

<!-- <div style="display: flex; justify-content: space-around; flex-wrap: wrap; margin-top: 30px;">
            <div style="width: 30%; padding: 20px; background-color: rgb(238, 18, 18); border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: center; margin-bottom: 30px;">
                <h2 style="font-size: 24px; margin-bottom: 10px; color: wheat;">Find Recipes</h2>
                <p style="font-size: 16px; color: rgb(248, 248, 11)">Explore a wide range of recipes from various cuisines.</p>
            </div>
            <div style="width: 30%; padding: 20px; background-color: rgb(238, 18, 18); border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: center; margin-bottom: 30px;">
                <h2 style="font-size: 24px; margin-bottom: 10px; color: wheat;">Save Favorites</h2>
                <p style="font-size: 16px; color: rgb(248, 248, 11)">Save your favorite recipes for quick access.</p>
            </div>
            <div style="width: 30%; padding: 20px; background-color: rgb(238, 18, 18); border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: center; margin-bottom: 30px;">
                <h2 style="font-size: 24px; margin-bottom: 10px; color: wheat;">Create Your Own</h2>
                <p style="font-size: 16px; color: rgb(248, 248, 11)">Create and share your own recipes with the world.</p>
            </div>
        </div> -->