<%- include("header") -%>
<div class="recipe">
    <div>
        <h3>Ingredients Needed: </h3>
        <ul>
            <%ingredients.forEach( ingredient => {%>
                <li> <%=ingredient.textContent%> </li>
            <%});%>
        </ul>
    </div>
    <div>
        <h3>Instructions: </h3>
        <ol>
            <%instructions.forEach( instruction => {%>
                <li> <%=instruction.textContent%> </li>
            <%});%>
        </ol>
    </div>
</div>
<%- include("footer") -%>